* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.produtos-section {
    margin-top: 60px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.trabalhos {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.guardacorpo .notas {
    order: 1;
    margin-left: 20px;
}

.polimento .notas {
    order: 1;
    margin-left: 20px;
}
    
.img-produtos {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-produtos img {
    margin: 3px;
    width: 350px;
    height: 175px;
}

.notas {
    height: 100%;
    width: 30%;
    }
    
.notas h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    transition: .2s;
    text-transform: uppercase;
    font-family: var(--body-font);
}

.notas p {
    font-family: var(--body-font);
    font-size: 18px;
}

#corrimao, #guardacorpo {
    padding: 20px;
}

#gradeamentos, #polimento {
    background-color: var(--body-color);
    color: var(--white-color);
    padding: 20px;
}

/*==============================*/

.outros {
    align-items: center;
    text-align: center;
}

.produtos-extras {
    display: flex;
    margin-left: 50px;
    padding: 20px;
}

.outros-trabalhos h2 {
    margin-top: 50px;
    margin-bottom: 50px ;
    justify-content: center;
    display: flex;

    text-transform: uppercase;
    font-family: var(--body-font);
}


.produtos-extras .nota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    width: 70%;
}

.img-produto {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-produto img {
    margin: 3px;
    width: 270px;
    height: 170px;
}

.produtos-extras .nota h3 {
    font-size: 25px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    font-family: var(--body-font);
    text-align: start;
}

.produtos-extras .nota p {
    width: 100%;
    text-align: start;
    min-height: 100px; 
    display: flex;
    align-items: center; 

    font-size: 20px;
}



/*BREAKPOINTS*/

/*SMALL DEVICES*/

@media screen and (max-width: 767px) {
    .produtos-section {
        margin-top: 0;
    }

    .trabalhos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .img-produtos {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .img-produtos img {
        width: 95%;
        height: 90px;
    }

    .notas {
        width: auto;
    }

    .outros {
        display: flex;
        flex-direction: column;
    }

    .guardacorpo .notas {
        order: 0;
        margin-left: 0;
    }
    
    .polimento .notas {
        order: 0;
        margin-left: 0;
    }

    .img-produto {
        display: block;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .img-produto img {
        width: 250px;
        height: 125px;
    }

    .outros-trabalhos h2 {
        text-align: center;
        width: 100%;
    }
    
    .produtos-extras .nota h3 {
        width: 90%;
    }
    
    .produtos-extras {
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .produtos-extras .nota {
        width: 100%;
    }

    .produtos-extras .nota p {
        width: 90%;
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) {
    .img-produtos {
        width: auto;
        height: auto;
    }

    .img-produtos img {
        width: 200px;
        height: 100px;
    }

    .notas {
        width: 40%;
    }

    .outros {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .img-produto {
        max-width: 100%;
        height: auto;
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .img-produto img {
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }

    .produtos-extras .nota h3 {
        height: 65px;
    }
}


@media screen and (min-width: 1023px) {
    .img-produtos img {
        width: 250px;
        height: 120px;
    }

    .img-produto {
        display: block;
        width: 100%;
    }

    .img-produto img {
        width: 250px;
        height: 200px;
    }

    .notas {
        width: 50%;
    }
}




