* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    padding: 4% 10%;
    }
    
   .sobre-nos {
    background-color: #263f5f;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.main-img {
    display: flex;
    align-items: center;
}

.main-img img {
    max-width: 100%;
    width: 560px;
    height: auto;

    box-shadow: -5px 5px 10px 0px #00fff260;
}

.text {
    padding: 6% 0;
}

.text h4 {
    color: #00fff2;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text h1 {
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;
}

hr {
    width: 30%;
    border: none;
    height: 2px;
    background-color: #00fff2;
    margin-bottom: 50px;
}

.text p {
    max-width: 600px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 60px;
}

.last-text {
    display: flex;
}

.text1 {
    margin-right: 60px;
}

.last-text h3 {
    color: #00fff2;
    font-size: 60px;
    font-weight: 700;
}

.last-text h5 {
    color: #fff;
    font-size: 18PX;
    font-weight: 500;
    line-height: 18px;
}

/*BREAKPOINTS*/

/*SMALL DEVICES*/

@media screen and (max-width: 767px) {
    .sobre-nos {
       grid-template-columns:1fr; /* ajusta a estrutura de grid para dispositivos small */
        padding-top: 40px;
    }

    .main-img {
        justify-content: center;
    }
     
    .main-img img {
       width: 90%; 
     }

     
    .text h1 {
       font-size: 24px; 
       line-height: 32px;
     }
     
    .text p {
        font-size: 15px; 
     }

   
   
    .last-text h3 {
        color: #00fff2;
        font-size: 40px;
        font-weight: 700;
    }
    
    .last-text h5 {
        color: #fff;
        font-size: 18px;
   }

}
